In [2]:
import pymssql
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import time
import datetime
# Connect the database
server = '192.168.10.138'
user = 'chen.qiang'
password = '821216'
database = 'Quantamentals'
conn = pymssql.connect(server, user, password, database)
cur = conn.cursor()

In [3]:
# Parameters
stock_code = 1
trade_date = 20170922
macd_para = [12, 26, 9]

In [13]:
def get_macd_data(stock_code, trade_date):
    sql_txt = " select top 50 TRADE_DATE,F_OPEN,F_HIGH,F_LOW,F_CLOSE,F_VOLUME,F_AMT from EQ_STOCK_QUOTE " \
        " where STOCK_CODE_INT=%s and TRADE_DATE<=%s order by TRADE_DATE DESC " \
        % (stock_code, trade_date)
    cur.execute(sql_txt)
    result = pd.DataFrame(cur.fetchall())
    return result

In [26]:
quote_data = get_macd_data(stock_code, trade_date)
quote_data.columns = ['TRADE_DATE','F_OPEN','F_HIGH','F_LOW','F_CLOSE','F_VOLUME','F_AMT']

In [27]:
quote_data

    TRADE_DATE   F_OPEN   F_HIGH    F_LOW  F_CLOSE   F_VOLUME       F_AMT
0     20170922  11.4300  11.5200  11.3100  11.4400   59392762   677622489
1     20170921  11.2600  11.5100  11.2000  11.4600   69240793   788605300
2     20170920  11.1400  11.3700  11.0500  11.2900   78715469   884640964
3     20170919  11.2500  11.3400  11.0800  11.1300   76421262   853815999
4     20170918  11.2500  11.3200  11.2000  11.2500   60761296   684223023
5     20170915  11.2900  11.3200  11.1500  11.2900   64609481   726061100
6     20170914  11.4300  11.5900  11.2400  11.3200   88308777  1005775578
7     20170913  11.4900  11.5400  11.3400  11.4300   66823742   765028184
8     20170912  11.3800  11.5400  11.2700  11.5400   84618342   962032172
9     20170911  11.5400  11.6900  11.3000  11.3800   69947275   801825014
10    20170908  11.4600  11.6400  11.3800  11.4900   48127615   553644520
11    20170907  11.6500  11.7500  11.3900  11.4400   61418724   711036421
12    20170906  11.5900  11.8800  11.4800  11.7000   79162155   925519043
13    20170905  11.6800  11.9400  11.6000  11.6400  128751876  1513759541
14    20170904  11.1800  11.7200  11.1700  11.7200  135232557  1551875033
15    20170901  11.2800  11.3900  11.1500  11.2100   95997689  1080996319
16    20170831  11.3900  11.4400  11.1500  11.2800  115178646  1297730595
17    20170830  11.6800  11.7000  11.3500  11.4300  109667476  1264128140
18    20170829  11.3000  11.7400  11.2800  11.6700  135798373  1569230034
19    20170828  11.1000  11.5400  11.1000  11.3500  160393832  1828380086
20    20170825  10.9400  11.1700  10.9000  11.1100   96394000  1068994547
21    20170824  10.8900  11.1100  10.8400  10.9300   92424863  1014933651
22    20170823  10.6300  10.9800  10.5900  10.9000  131915190  1430051908
23    20170822  10.4800  10.6600  10.3700  10.6500   87568181   922881865
24    20170821  10.4300  10.5200  10.3900  10.4600   39915487   417653110
25    20170818  10.3600  10.6000  10.2900  10.4400   61652041   643188717
26    20170817  10.3500  10.4200  10.2900  10.4200   55364211   573093949
27    20170816  10.2900  10.3700  10.1500  10.3400   75680602   778517621
28    20170815  10.2400  10.5100  10.2100  10.3100  107516235  1116749994
29    20170814  10.1300  10.2500  10.0400  10.2200  115766464  1175479138
30    20170811  10.4800  10.5400   9.9900  10.0200  244064335  2501779371
31    20170810  10.7000  10.8200  10.5400  10.6200   95987996  1026676005
32    20170809  10.9600  11.0200  10.6800  10.7300  104232181  1126512107
33    20170808  11.0000  11.1100  10.9100  11.0500   68956744   758872028
34    20170807  11.0600  11.1700  10.9000  11.0000   86064427   946975699
35    20170804  11.0000  11.2900  10.9300  11.1700  135395156  1511389828
36    20170803  11.1400  11.2200  10.9700  11.0100   98421938  1090954131
37    20170802  11.0500  11.3400  10.9600  11.1500  206206907  2307726682
38    20170801  10.6400  11.0800  10.6000  11.0400  203570991  2222887933
39    20170731  10.8000  10.8200  10.4500  10.6700  157586439  1671814035
40    20170728  10.6100  10.8100  10.5800  10.7400   81919535   877769279
41    20170727  10.7200  10.7700  10.5300  10.5900  119449040  1273888886
42    20170726  10.9200  11.1800  10.6600  10.7400  169741211  1846282151
43    20170725  10.9800  11.2700  10.9500  11.0000  195476835  2172114597
44    20170724  10.8200  11.0600  10.7300  10.9500  169266444  1846886678
45    20170721  10.8300  10.9500  10.6900  10.8900  150102000  1625416436
46    20170720  11.0800  11.2200  10.9100  10.9700  153733858  1695060974
47    20170719  10.9900  11.1900  10.8800  11.0900  193307592  2131336294
48    20170718  10.7500  11.1400  10.6200  11.0500  234943191  2558433986
49    20170717  10.9500  11.3300  10.7200  10.8100  327312315  3608692279

In [30]:
def get_EMA(df,N):  
    for i in range(len(df)):  
        if i==0:  
            df.loc[i,'ema']=df.loc[i,'F_CLOSE']  
        if i>0:  
            df.loc[i,'ema']=(2*df.loc[i,'F_CLOSE']+(N-1)*df.loc[i-1,'ema'])/(N+1)  
    ema=list(df['ema'])  
    return ema

In [31]:
test2 = get_EMA(quote_data, 12)

In [32]:
test2

[Decimal('11.4400'),
 Decimal('11.44307692307692307692307692'),
 Decimal('11.41952662721893491124260355'),
 Decimal('11.37498406918525261720527992'),
 Decimal('11.35575575084905990686600608'),
 Decimal('11.34563948148766607504046668'),
 Decimal('11.34169494587417898657270258'),
 Decimal('11.35528033881661298863844065'),
 Decimal('11.38369874822944175961714209'),
 Decimal('11.38312971004029687352219715'),
 Decimal('11.39957129311102043144185912'),
 Decimal('11.40579109417086344198926541'),
 Decimal('11.45105400275996137399091688'),
 Decimal('11.48012261771996731645385275'),
 Decimal('11.51702683037843388315326002'),
 Decimal('11.46979193339713636266814309'),
 Decimal('11.44059317441296153764227492'),
 Decimal('11.43896345527250591646654032'),
 Decimal('11.47450753907673577547168796'),
 Decimal('11.45535253306493027155296674'),
 Decimal('11.40222137413186407592943339'),
 Decimal('11.32957193195773114117105902'),
 Decimal('11.26348394242577250406781917'),
 Decimal('11.16910179743719211882661622'),
 Decimal('11.0600092132160856390071368'),
 Decimal('10.96462318041361092531373114'),
 Decimal('10.88083499881151693680392635'),
 Decimal('10.79762961437897586960332229'),
 Decimal('10.72260967370528727427973425'),
 Decimal('10.64528510851985846285208283'),
 Decimal('10.54908739951680331472099316'),
 Decimal('10.55999703036037203553314806'),
 Decimal('10.58615133338185326083574067'),
 Decimal('10.65751266670772198993793442'),
 Decimal('10.71020302567576476071671374'),
 Decimal('10.7809410217256471052218347'),
 Decimal('10.81618086453708601211078321'),
 Decimal('10.86753765460830354870912425'),
 Decimal('10.89407032313010300275387437'),
 Decimal('10.85959796572547177156097062'),
 Decimal('10.84119827869078380670543668'),
 Decimal('10.80255238966143245182767719'),
 Decimal('10.79292894509813515154649608'),
 Decimal('10.82478603046765282053934284'),
 Decimal('10.84404971808801392507175163'),
 Decimal('10.85111899222831947506071292'),
 Decimal('10.86940837803934724812829555'),
 Decimal('10.90334555064867844072394238'),
 Decimal('10.92590777362580483445872048'),
 Decimal('10.90807580845260409069584041')]

In [ ]:
import pandas as pd  
import numpy as np  
import datetime  
import time  
#获取数据  
df=pd.read_csv('C:/Users/HXWD/Desktop/000001.csv',encoding='gbk')  
df.columns=['date','code','name','close','high','low','open','preclose',  
'change','change_per','volume','amt']  
df=df[['date','open','high','low','close','volume','amt']]  
df.head()  
def get_EMA(df,N):  
    for i in range(len(df)):  
        if i==0:  
            df.ix[i,'ema']=df.ix[i,'close']  
        if i>0:  
            df.ix[i,'ema']=(2*df.ix[i,'close']+(N-1)*df.ix[i-1,'ema'])/(N+1)  
    ema=list(df['ema'])  
    return ema  
def get_MACD(df,short=12,long=26,M=9):  
    a=get_EMA(df,short)  
    b=get_EMA(df,long)  
    df['diff']=pd.Series(a)-pd.Series(b)  
    #print(df['diff'])  
    for i in range(len(df)):  
        if i==0:  
            df.ix[i,'dea']=df.ix[i,'diff']  
        if i>0:  
            df.ix[i,'dea']=(2*df.ix[i,'diff']+(M-1)*df.ix[i-1,'dea'])/(M+1)  
    df['macd']=2*(df['diff']-df['dea'])  
    return df  
get_MACD(df,12,26,9)  
df

In [ ]:
def get_EMA(df,N):  
    for i in range(len(df)):  
        if i==0:  
            df.ix[i,'ema']=df.ix[i,'close']  
#            df.ix[i,'ema']=0  
        if i>0:  
            df.ix[i,'ema']=(2*df.ix[i,'close']+(N-1)*df.ix[i-1,'ema'])/(N+1)  
    ema=list(df['ema'])  
    return ema  
  
def get_MACD(df,short=12,long=26,M=9):  
    a=get_EMA(df,short)  
    b=get_EMA(df,long)  
    df['diff']=pd.Series(a)-pd.Series(b)  
    #print(df['diff'])  
    for i in range(len(df)):  
        if i==0:  
            df.ix[i,'dea']=df.ix[i,'diff']  
        if i>0:  
            df.ix[i,'dea']=((M-1)*df.ix[i-1,'dea']+2*df.ix[i,'diff'])/(M+1)  
    df['macd']=2*(df['diff']-df['dea'])  
    return df